*.dll
*.dylib
*.so

# Ignore Gradle's project-specific cache directory:
/.gradle/

# Ignore Gradle's build output directories:
/WesExamples/build/
/WesLibrary/build/
/build/

# Ignore the Acorus sandbox:
/WesExamples/Written Assets/

# Ignore IDE-specific directories:
/.idea/
/.nb-gradle/
